h1 {
    text-align: center;
    font-size: 3.8rem;
    color: #6d28d9;
    text-shadow: 1px 1px #e9d5ff;
    margin-bottom: 2rem;
    margin-top: -1rem;
    font-weight: 400;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
