* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -0.6px;
}

.livro-receitas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
    width: 100%;
    max-width: 1400px;
}

/* colunas de cat */
.livro-receitas > div {
    flex: 1;
    max-width: 700px;
    background-color: #f5f3ff;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(109, 40, 217, 0.15);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

/* titulo da cat */
.livro-receitas h2 {
    text-align: center;
    font-size: 1.6rem;
    color: #5b21b6;
    border-bottom: 2px solid #c4b5fd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
}

/* imagem da receita */
.imagem-receita {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 3px 8px rgba(109, 40, 217, 0.15); /* sombra leve */
}

/* lista de receitas */
.livro-receitas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    padding-left: 0;
    align-items: center;
}

/* card da receita */
.livro-receitas li {
    background-color: #faf5ff;
    border-radius: 16px;
    box-shadow: 0 3px 8px rgba(109, 40, 217, 0.15);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
}

/* nome da recieta */
.livro-receitas h3 {
    color: #7c3aed;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
    text-align: center;
    width: 100%;
}

/* subtitulos */
.livro-receitas h4 {
    color: #6d28d9;
    font-size: 1rem;
    margin: 0.6rem 0;
    margin-top: 0.9rem;
}

/* ingredientes */
.livro-receitas li ul {
    padding-left: 1.5rem;
    margin: 0.9rem 0;
    font-size: 0.95rem;
    color: #3b0764;
    background: none;
    border: none;
    box-shadow: none;
}

.livro-receitas li ul li {
    margin-bottom: 0.1rem;
    padding: 0;
    line-height: 0.1; 
    background: none;
    border: none;
    box-shadow: none;
}

/* modo de preparo */
.livro-receitas p {
    font-size: 0.95rem;
    color: #3b0764;
    text-align: justify;
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 1.3rem;
}

/* dificuldade e tempo */
#extra {
    text-align: center;
    font-size: 0.9rem;
    color: #5b21b6;
    border-bottom: 2px solid #c4b5fd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.9rem;
}

button {
    padding: 8px 20px;
    color: #ffffff;
    background-color: #5b21b6;
    border: 1px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.2s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.botao-avaliar {
  display: block;
  margin: 0 auto;
}

.botao-avaliar:disabled {
    background-color: rgb(158, 158, 158);
    cursor: not-allowed;
}

.card-receita .estrela-card .estrela {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0.2rem;
}

.estrela-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}